@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
html {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

html.light {
  color: #111517;
  background-color: #fafafa;
}

body {
  background-color: #202c37;
  color: white;
  margin: 0;
}

.appContainer {
  max-width: 1440px;
  margin: auto;
}

.elements {
  background-color: #2b3945;
}

html.elements.light {
  background-color: white;
}

.topNav {
  height: 60px;
  background-color: #2b3945;
}

.topNav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 5em;
  height: 100%;
}

.topNav .container .leftNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topNav .container .rightNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topNav .container .rightNav .mode {
  margin-left: 0.5em;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 5em;
}

.countrySearch {
  position: relative;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.countrySearch input {
  background-color: #2b3945;
  padding: 8px;
  border: none;
  outline: none;
  height: 2.5rem;
  width: 14rem;
  border-radius: 0.25rem;
  color: white;
  -webkit-box-shadow: 0 1px 2px rgba(15, 0, 0, 0.3);
          box-shadow: 0 1px 2px rgba(15, 0, 0, 0.3);
}

.countrySearch input:focus ~ .placeholder,
.countrySearch input:focus ~ svg:nth-child(3) {
  display: none;
}

.countrySearch .placeholder {
  position: absolute;
  left: 40px;
  top: 10px;
  background-color: #2b3945;
}

.countrySearch > svg:nth-child(3) {
  position: absolute;
  left: 6px;
  top: 12px;
  cursor: pointer;
}

.countryFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.countryFilter .dropDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2b3945;
  height: 2.5rem;
  margin-bottom: 4px;
  border: none;
  outline: none;
  width: 10rem;
  border-radius: 0.25rem;
  color: white;
  -webkit-box-shadow: 0 1px 2px rgba(15, 0, 0, 0.3);
          box-shadow: 0 1px 2px rgba(15, 0, 0, 0.3);
}

.countryFilter .dropDown:hover ~ .dropDownContent {
  display: block;
}

.countryFilter .dropDown .filterRegion ~ svg {
  cursor: pointer;
}

.countryFilter .dropDownContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: #2b3945;
  border: none;
  outline: none;
  width: 10rem;
  border-radius: 0.25rem;
  color: white;
  -webkit-box-shadow: 0 1px 2px rgba(15, 0, 0, 0.3);
          box-shadow: 0 1px 2px rgba(15, 0, 0, 0.3);
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.countryFilter .dropDownContent ul li {
  margin: 8px 0;
}

.countryFilter .dropDownContent ul li a {
  padding: 12px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
body,
html {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style-type: none;
}

.loader1 {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 80px;
}

.loader1 div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 5px;
  background: rgba(34, 88, 238, 0.9);
  -webkit-animation: loader1 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation: loader1 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader1 div:nth-child(1) {
  left: 8px;
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}

.loader1 div:nth-child(2) {
  left: 20px;
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
}

.loader1 div:nth-child(3) {
  left: 32px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes loader1 {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

@keyframes loader1 {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
/*# sourceMappingURL=index.css.map */